{% extends "home/base.html" %}
{% block content %}<br>

<div class="card-panel blue hoverable">
       <div class="row">

               <div class="col s12 m4 l4">
                <div class="card hoverable large">
                  <div class="card-image">
                    <a href="https://fs30.formsite.com/bigappleyouthsports/form1/index.html"><img src="http://www.bigappleyouthsports.org/images/page7-t-l1.jpg"></a>
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <h5>PS6</h5>
                      <p>After school Program Registration</p>
                    </div>
                    <div class="card-action">
                      <a class="light-blue-text" href="https://fs30.formsite.com/bigappleyouthsports/form1/index.html">Sign up Now</a>
                    </div>
                  </div>
                </div>
                </div>

                <div class="col s12 m4 l4">
                <div class="card hoverable large">
                  <div class="card-image">
                      <a href="https://fs30.formsite.com/bigappleyouthsports/form2/index.html"><img src="https://drive.google.com/uc?id=0B5WsFs6Hla_bVVVWMTZKdnhja2s"></a>
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <h5>Sports Leagues Registration</h5>

                    </div>
                    <div class="card-action">
                      <a class="light-blue-text" href="https://fs30.formsite.com/bigappleyouthsports/form2/index.html">Sign up Now</a>
                    </div>
                  </div>
                </div></div>

                <div class="col s12 m4 l4">
                <div class="card hoverable large">
                  <div class="card-image">
                      <a href="https://fs30.formsite.com/bigappleyouthsports/form3/index.html"><img src="https://drive.google.com/uc?id=0B5WsFs6Hla_bd2pYeWVLTW53TE0"></a>
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <h5>PS 151 (YCS)</h5>
                        <p>After school Registration</p>
                    </div>
                    <div class="card-action">
                      <a class="light-blue-text" href="https://fs30.formsite.com/bigappleyouthsports/form3/index.html">Sign up Now</a>
                    </div>
                  </div>
                </div></div>

            </div>

       </div>

  </div>

</div>

{% endblock %}