{% extends "home/base.html" %}
{% block content %}
        <br>
       <div class="card-panel blue hoverable">


         <div class="row">
            <div class="col s12">
              <div class="container">
                <br>

              </div>

            <br>

            <div class="row ">
                 <div class="col s12 m4 l4">
                    <a href="https://fs30.formsite.com/bigappleyouthsports/form1/index.html" class="waves-effect waves-light btn">Register for BA at PS6 </a>
                 </div>
            </div>

            <div class="row">
                 <div class="col s12 m4 l4">
                    <a href="https://fs30.formsite.com/bigappleyouthsports/form3/index.html" class="waves-effect waves-light btn">Register for BA at YCS</a>
                 </div>
            </div>

            <div class="row ">
                 <div class="col s12 m4 l4">
                    <a href="https://fs30.formsite.com/bigappleyouthsports/form2/index.html" class="waves-effect waves-light btn">Register for Sports Leagues  </a>
                 </div>
            </div>


         </div>
        </div>



       <div class="row center">

                 <div class="col s12 m4 l4 no-padding center">
                        <img id="img1" class="center  responsive-img" src="http://www.bigappleyouthsports.org/images/page7-t-l1.jpg">
                 </div>

                 <div width="310px" class="col s12 m4 l4 no-padding center">
                     <img id="img2" class="center  responsive-img"  src="http://www.bigappleyouthsports.org/images/page7-t-l2.jpg">
                 </div>

                 <div width="310px" class="col s12 m4 l4 no-padding center">
                    <img id="img3" class=" center responsive-img"  src="http://www.bigappleyouthsports.org/images/page7-t-l3.jpg">
                 </div>

            </div>



    <div class="row center">

                 <div class="col s12 m4 l4 no-padding center">
                        <img id="img1" class="center  responsive-img" src="http://www.bigappleyouthsports.org/images/page7-b-l1.jpg">
                 </div>

                 <div width="310px" class="col s12 m4 l4 no-padding center">
                     <img id="img2" class="center  responsive-img"  src="http://www.bigappleyouthsports.org/images/page7-b-l2.jpg">
                 </div>

                 <div width="310px" class="col s12 m4 l4 no-padding center">
                    <img id="img3" class=" center responsive-img"  src="http://www.bigappleyouthsports.org/images/page7-b-l3.jpg">
                 </div>

            </div>

       </div>
  </div>    </div>

{% endblock %}