<!DOCTYPE html>
  <html>
    <head>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/static/home/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            .no-marg {
                margin:0;
            }
            body#body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }
            {% block style %}{% endblock %}

        </style>

    </head>

    <body id="body" class="grey lighten-2">

    <div style="padding-bottom: 0px" class="card-panel no-marg">

      <div style="margin-bottom: 0px" class="row">
         <div class="col s4 m7 l2"><img class="responsive-img" src="https://d2q79iu7y748jz.cloudfront.net/s/_logo/cc6db9320febbfca52dd8fe9ba5d0eb6"></div>
          <div class="col s8 m5 l10">
              <div class="right">
                  <div  class="row">
                      <b class="blue-text bold" >Call Us Today at:</b>
                      <p class="blue-text" ><b>(212) 987-9865/53</b> to join the fun</p>
                  </div>
                  <div class="row">
                      <h6 class="blue-text">Email: <a href="mailto:coach@bigappleyouthsports.org" class="blue-text" >coach@bigappleyouthsports.org</a></h6>
                  </div>
              </div>
          </div>
      </div>

    </div>

      <nav >
        <div class="nav-wrapper no-pad">
          <a href="#" class="brand-logo"> </a>
          <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>

              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li ><a href="/">Home</a></li>
                <li ><a href="/ps6">PS6 Afterschool</a></li>
                <li ><a href="/ycs">YCS Afterschool</a></li>
                <li ><a href="/spring">Sports Leagues</a></li>
                <li ><a href="/birthdays">Birthdays</a></li>
                <li ><a href="/register">Register</a></li>
              </ul>

               <ul class="side-nav" id="mobile">
                <li ><a href="/">Home</a></li>
                <li ><a href="/ps6">PS6 Afterschool</a></li>
                <li ><a href="/ycs">YCS Afterschool</a></li>
                <li ><a href="/spring">Sports Leagues</a></li>
                <li ><a href="/birthdays">Birthdays</a></li>
                <li ><a href="/register">Register</a></li>
              </ul>
               </ul>
        </div>
      </nav>



      <br>
<div class="container">
 <div class="card-panel blue hoverable">

     <h1 class="center-align white-text">YCS Afterschool</h1>

     <div class="row">
             <div class="col s12">
              <div class="container">
                <br>
                <div class="slider">
                    <ul class="slides">
                      {% for slide in slider %}
                      <li>
                        <img src="/uploads/slider/{{ slide.image }}"> <!-- random image -->
                        <div class="caption center-align">
                          <h3></h3>
                          <h5 class="light grey-text text-lighten-3"></h5>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
              </div>

                 <div class="row">
                     <div class="col s12 m4 l4">
                      {% for p in pics %}
                          <img class="responsive-img" src="/attachments/{{ p.image }}">
                          <br>
                      {% endfor %}
                     </div>
                     <div class="col s12 m8 l8">
                     {% for p in posts %}
                        <div class="card-panel">

                        <div class="row"> <h5>{{ p.title|safe }}</h5> </div>
                        <div>{{ p.content|safe }}</div>
                        </div>
                     {% endfor %}
                    </div>
                 </div>

             </div>
            </div>
            <br>
     </div>

 </div>
          <br>
      <footer class="page-footer blue">
          <div class="container">
            <div class="row">

              <div class="col l4 s6">
                <h5 class="light-blue-text">AFTERSCHOOL HOURS</h5>
                <p class="grey-text text-lighten-4">Monday-Friday.</p>
                <p class="grey-text text-lighten-4">2:45pm-6:00pm</p>
              </div>

              <div class="col l4  s6">
                <h5 class="light-blue-text ">MAILING ADDRESS</h5>
                <ul>
                  <li><p class="grey-text text-lighten-3" >Big Apple Youth Sports</p></li>
                  <li><p class="grey-text text-lighten-3" > 459 Columbus Ave Suite 188 NYC NY 10024</p></li>
                  <li><a href="mailto:coach@bigappleyouthsports.org" class="grey-text text-lighten-3" >coach@bigappleyouthsports.org</a></li>
                  <li><p class="grey-text text-lighten-3" >Tel: 212-987-9865/53</p></li>
                </ul>
              </div>

              <div class="col l4 m12 s12 center">
               <iframe
                  width="300"
                  height="200"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCczi15vN55d9ycqI7mlAhUoUJq7ibrydE
                    &q=421+E+88th+St,New+York,NY+10028" allowfullscreen>
                </iframe>
              </div>

            </div>
          </div>
      </footer>


    <script type="text/javascript" src="/static/home/js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <script>
         $(document).ready(function() {
            $('select').material_select();
            $(".button-collapse").sideNav();
            //$('ul.tabs').tabs();
            $('.slider').slider({full_width: true,indicators: true});

         });
    </script>
  </body>
</html>